# Code::Blocks
*.layout
*.depend

# Build outputs
/bin/
/obj/
*.exe
*.dll
*.pdb
*.ilk

# Compiler junk
*.o
*.a
*.so
*.lib
*.lo
*.obj

# Windows junk
Thumbs.db
Desktop.ini

# Logs
*.log

# Temporary files
*.tmp
*.temp
*~
